.employee-table {
    width: 100%;
    border-collapse: collapse;
  }

  .employee-list-heading {
    color: #333; /* Example color */
    font-size: 24px; /* Example font size */
    font-weight: bold; /* Example font weight */
    margin-bottom: 20px; /* Example margin bottom */
    text-align: center; /* Align text to center */
  }
  
  .employee-table th,
  .employee-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .employee-table th {
    background-color: #f2f2f2;
  }
  
  .employee-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .employee-table tbody tr:hover {
    background-color: #ddd;
  }
  