
.event-list-page {
  padding: 20px;
}

.calendar-container {
  max-width: 800px; /* Adjust the max width of the calendar container */
  margin: 0 auto; /* Center the calendar container */
}
.event-item {
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 40px; /* Increase padding */
  margin-bottom: 40px; /* Increase margin */
  display: flex;
  align-items: center;
}

.event-item h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.event-item p {
  margin-bottom: 10px;
}

.event-item .event-details {
  flex: 1;
}

.event-item .event-image {
  width: 180px;
  border-radius: 12px;
  margin-left: 20px; /* Adjust image margin */
}

.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 20% auto;
  padding: 30px;
  border: 2px solid #888;
  width: 90%;
  max-width: 600px;
  background-color: #fff; /* Add background color to modal content */
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative; /* Adjust position to allow absolute positioning of close button */
  display: flex; /* Use Flexbox */
  flex-direction: row; /* Arrange content in row */
  align-items: center; /* Center children vertically */
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}
