/* holidayList.css */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.holiday-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-calendar {
  width: 100%;
  height: 100%;
  font-size: 18px; /* Adjust font size as needed */
}

.holiday-tile {
  position: relative;
}

.holiday-name {
  text-align: center;
}
