.project-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type='text'],
select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 25px; /* Increase padding to make the button bigger */
  cursor: pointer;
  font-size: 15px; /* Increase font size */
}


button:hover {
  background-color: #11ba41;
}

.error {
  color: red;
  font-size: 14px;
}
